<!DOCTYPE html>
<html>
<head>
    <title>Pijama Pro - Sobre o projeto</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
{% include 'widgets/header.html' %}
<main class="main">
    <h1>Sobre o Projeto</h1>
    <p>Este projeto é uma aplicação web que permite aos usuários visualizarem melhor as disciplinas oferecidas em cada curso pela Universidade Federal de Campina Grande (UFCG), uma universidade pública brasileira.</p>
    <h2>Links úteis</h2>
    <ul>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyGWM9PoK1Xr5WVMcam1pIX-1E19fwsV6GePo9NWhdpVZ35w/viewform?usp=sf_link">Mande
                o pijama do seu curso</a></li>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdApMQWJKEF6ethJE69PJoo6zprCjzCwuBetIg8q4JUmknHtA/viewform?usp=sf_link">Bugs
                e sugestões</a></li>
        <li><a href="https://github.com/raissonsouto/pijama-pro">Contribua com o código do site (pijama pro)</a></li>
        <li><a href="https://github.com/raissonsouto/pijama2json">Contribua com o código do scrapper (pijama2json)</a>
        </li>
    </ul>

</main>
{% include 'widgets/footer.html' %}
<script src="../static/scripts/eventlisteners.js"></script>
</body>
</html>