.discipline-bar {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  min-width: 500px;
}

.discipline-info {
  flex-grow: 1;
  font-size: 13px;
}

.class-actions {
  margin-right: 10px;
}

.class-actions div {
  margin: 20px 0;
}

.check-button {
  margin-left: 10px;
  position: relative;
  bottom: 10px;
  right: 10px;
}

.check-button input[type="checkbox"] {
  display: none;
}

.check-button label {
  background-color: #2196f3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
