.search-bar {
  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
}

.search-bar div {
  display: inline-block;
}

.search-input,
.sort-select {
  display: flex;
  align-items: center;
}

.search-input label,
.sort-select label {
  margin-right: 10px;
}

.search-input input[type="text"],
.sort-select select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  border: none;
  background-color: #2196f3;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2156c3;
}


.show-concluded input{
  position: relative;
  display: inline-block;
}
.show-concluded{
  height: 20px;
  display: inline-block;
  width: 170px;
  border: 1px solid #cecece;
  border-radius: 3px;
  padding: 5px;
  top: 50px;
  text-align: center;
  margin-left: 10px;
  align-content: center;
}
.show-concluded p{
  position: relative;
  top: -10px;
  margin-bottom: 3px;
  text-align: justify;
  font-size: 13px;
}