<div class="discipline-bar">
    <div class="discipline-info">
        <h2>Sistemas Distribuídos</h2>
        <p><strong>Professor:</strong> Andrey Brito </p>
        <p><strong>Horário:</strong> Segunda às 14h | Quarta às 16h</p>
        <p><strong>Vagas ofertadas:</strong> 23</p>
        <p><strong>Pré-requisitos:</strong> Nenhum</p>
    </div>
    <div class="class-actions">
        <div class="check-button">
            <input type="checkbox" id="Sistemas distribuidos">
            <label for="sd">Selecionar</label>
        </div>
        <div class="check-button">
            <input type="checkbox" id="Sistemas distribuidos" >
            <label for="sd">Concluída&nbsp;</label>
        </div>
    </div>
</div>
