<link rel="stylesheet" type="text/css" href="../../static/css/search-bar.css">
<div class="search-bar">
    <form>
        <div class="sort-select">
            <select id="sort" name="sort">
                <option value="asc">A-Z</option>
                <option value="desc">Z-A</option>
            </select>
        </div>
        <div>
            <select id="sort" name="sort">
                <option value="asc">2022.2</option>
                <option value="asc">2022.1</option>
                <option value="asc">2021.2</option>
                <option value="asc">2021.1</option>
                <option value="asc">2020.2</option>
                <option value="asc">2020.1</option>
            </select>
        </div>
        <div>
            <select id="sort" name="sort">
                <option value="asc">Ciência da Computacão</option>
                <option value="desc">Z-A</option>
            </select>
        </div>
        <div class="search-input">
            <input type="text" id="search" name="search" placeholder="Pesquisar ...">
        </div>
        <div>
            <button type="submit">Pesquisar</button>
        </div>
    </form>
</div>