<div class="search-bar">
    <form>
        <div class="search-input">
            <input type="text" id="search" name="search"  placeholder="Pesquisar ...">
        </div>
        <div class="sort-select">
            <label for="sort">Ordenar:</label>
            <select id="sort" name="sort">
                <option value="asc">A-Z</option>
                <option value="desc">Z-A</option>
            </select>
        </div>
        <button type="submit">Pesquisar</button>
    </form>
</div>