<div class="search-bar">
    <div class="sort-select">
            <select id="order" name="sort">
                <option value="az" selected="selected">A-Z</option>
                <option value="za">Z-A</option>
            </select>
        </div>
        <div class="sort-select">
            <select id="semestre" name="sort">
                <option value="2022.2" selected="selected">2022.2</option>
                <option value="2022.1">2022.1</option>
                <option value="2021.2">2021.2</option>
            </select>
        </div>
        <div class="sort-select">
            <select id="curso" name="sort">
                <option value="administracao">Administração</option>
                <option value="ciencia-da-computacao" selected="selected">Ciência da Computacão</option>
                <option value="engenharia-quimica">Engenharia Química</option>
                <option value="fisica">Física</option>
                <option value="letras">Letras</option>
            </select>
        </div>
        <div class="sort-select">
            <select id="curso" name="sort">
                <option value="todos" selected="selected">Todos</option>
                <option value="1">1º</option>
                <option value="2">2º</option>
                <option value="3">3º</option>
                <option value="4">4º</option>
                <option value="5">5º</option>
                <option value="6">6º</option>
                <option value="7">7º</option>
                <option value="8">8º</option>
                <option value="9">9º</option>
                <option value="10">10º</option>
            </select>
        </div>
        <div class="search-input">
            <input type="text" id="search" placeholder="Pesquisar ...">
        </div>
        <div>
            <button onclick="searchInPijamas()" type="submit">Pesquisar</button>
        </div>
</div>