#selected-subjects-box {
    position: fixed;
    top: calc(50% + 40px);
    left: calc(50% - 500px);
    min-height: 80px;
    max-height: 300px;
    width: 200px;
    background-color: var(--secondary-white);
    border-radius: var(--border-radius);
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
}



#selected-subjects-box h2 {
    font-size: 12pt;
}

.selected-subject {
    margin: 10px 0;
    padding: 5px;
    position: relative;
}

.selected-button label{
    background-color: #0e3351;
}

.conflictant-button label{
    background-color: #952806;
}

.selected-subject:hover {
    background-color: #e5e5e5;
    border-radius: var(--border-radius);
}

.selected-subject button {
    background-color: #0000;
    position: absolute;
    right: 5px;
    top: 3px;
    border: none;
    transform: rotate(45deg);
    font-size: 14pt;
    cursor: pointer;
}
