<script src="../../static/scripts/searchBar.js"></script>
<div class="search-bar">
    <div class="upper-side-search-bar">
        <div class="sort-select">
            <select id="order" name="sort">
                <option value="az" selected="selected">A-Z</option>
                <option value="za">Z-A</option>
            </select>
        </div>
        <div class="sort-select">
            <select id="semester-dropdown" name="sort">
            </select>
        </div>
        <div class="sort-select">
            <select id="course-dropdown" name="sort">
            </select>
        </div>
        <div class="sort-select">
            <select id="curso" name="sort">
            </select>
        </div>
        <div class="search-input">
            <input type="text" id="search" placeholder="Pesquisar ...">
        </div>
    </div>
    <div class="lower-side-search-bar">
        <div class='show-concluded'>
            <p>
                Mostrar Cadeiras Pagas: <input id='show-concluded' type='checkbox' name="show-concluded"/>
            </p>
        </div>
        <div>
            <p>
                Mostrar Cadeiras que dão choque: <input id='show-conflictant' type='checkbox' name="show-concluded"/>
            </p>
        </div>
        <div class="download-pijama-div">
            <a id="download-pijama" target="_blank"><span class="material-icons download-icon">download</span>Baixar pijama</a>
        </div>
    </div>
</div>
