<!DOCTYPE html>
<html>
  <head>
    <title>Grade Semanal</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/table.css">
  </head>
  <body>
    {% include 'widgets/header.html' %}
    <main>
        <table>
      <thead>
        <tr>
          <th>Horários</th>
          <th>Segunda</th>
          <th>Terça</th>
          <th>Quarta</th>
          <th>Quinta</th>
          <th>Sexta</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8:00 - 10:00</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td>10:00 - 12:00</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td>12:00 - 14:00</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td>14:00 - 16:00</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
        <tr>
          <td>16:00 - 18:00</td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
          <td class="slot"></td>
        </tr>
      </tbody>
    </table>
    </main>
    {% include 'widgets/footer.html' %}
  </body>
</html>
