<!DOCTYPE html>
<html>
<head>
    <title>Pijama Pro - Grade Semanal</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/table.css">
    <link rel="stylesheet" type="text/css" href="../static/css/selected-classes.css">
</head>
<body>
{% include 'widgets/header.html' %}
<main>
    <table>
        <thead>
        <tr>
            <th>Horários</th><th>Segunda</th><th>Terça</th><th>Quarta</th><th>Quinta</th><th>Sexta</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>8:00 - 10:00</td>
            <td class="slot" id="seg08"></td>
            <td class="slot" id="ter08"></td>
            <td class="slot" id="qua08"></td>
            <td class="slot" id="qui08"></td>
            <td class="slot" id="sex08"></td>
        </tr>
        <tr>
            <td>10:00 - 12:00</td>
            <td id="seg10"></td>
            <td id="ter10"></td>
            <td id="qua10"></td>
            <td id="qui10"></td>
            <td id="sex10"></td>
        </tr>
        <tr>
            <td>12:00 - 14:00</td>
            <td id="seg12"></td>
            <td id="ter12"></td>
            <td id="qua12"></td>
            <td id="qui12"></td>
            <td id="sex12"></td>
        </tr>
        <tr>
            <td>14:00 - 16:00</td>
            <td id="seg14"></td>
            <td id="ter14"></td>
            <td id="qua14"></td>
            <td id="qui14"></td>
            <td id="sex14"></td>
        </tr>
        <tr>
            <td>16:00 - 18:00</td>
            <td id="seg16"></td>
            <td id="ter16"></td>
            <td id="qua16"></td>
            <td id="qui16"></td>
            <td id="sex16"></td>
        </tr>
        </tbody>
    </table>
</main>
{% include 'widgets/selected-classes.html' %}
{% include 'widgets/footer.html' %}
<script src="../static/scripts/common.js"></script>
<script src="../static/scripts/local-storage.js"></script>
<script src="../static/scripts/select.js"></script>
<script src="../static/scripts/table.js"></script>
<script>
    loadSelectedClasses();
    loadIntoTable();
</script>
</body>
</html>
