<!DOCTYPE html>
<html>
<head>
    <title>Pijama Pro - Home</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/search-bar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/course.css">
    <link rel="stylesheet" type="text/css" href="../static/css/selected-classes.css">
    <link rel="stylesheet" type="text/css" href="../static/css/concluded-classes.css">
</head>
<body>
{% include 'widgets/header.html' %}
<main class="main">
    {% include 'widgets/search-bar.html' %}
</main>
{% include 'widgets/selected-classes.html' %}
{% include 'widgets/footer.html' %}
<script src="../static/scripts/common.js"></script>
<script src="../static/scripts/index-var.js"></script>
<script src="../static/scripts/fetch.js"></script>
<script src="../static/scripts/local-storage.js"></script>
<script src="../static/scripts/select.js"></script>
<script src="../static/scripts/search.js"></script>
<script src="../static/scripts/eventlisteners.js"></script>
<script src="../static/scripts/checkAsDone.js"></script>
</body>
</html>
